
# Python
__pycache__/
*.pyc
.env
.venv
.python-version

# System files
.DS_Store

# Logs
*.log
logs/

# Database
backup.sql

# Other
TODO.md
myblog1234512345_accessKeys.csv

# Parent directory
../*/
